<div class="jumbotron" style="background-image: url(timelapse.gif); height: 700px; max-height: 100%;max-width: 100%; background-position: center;background-repeat: no-repeat; background-size: cover;border: 1px solid black;">
  <!-- <img src="timelapse.gif"> -->
  <br>
  <div class="container center bottom">
    <%= button_to cities_path, method: :get, :class => "btn blue grey" do %>
    cities
    <% end %>
  </div>
</div>
