
<div class="card center">
  <img class="center" src="<%= @post.picture %>">
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4">  <%= @post.title %> </span>
  <br />  <%= @post.city.name %> <br />
    <br />
    <%= @post.content %>
  </div>
</div>
