.jumbotron{
  background-image: url("http://i.imgur.com/LuXGJCb.gif");
  background-repeat: no-repeat;
  background-size: contain;
  height: 900px;
}


// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
